In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from urllib.parse import quote
from tabulate import tabulate

In [2]:
# This line loads the env file created
load_dotenv(r'./password.env')

# MySQL Creds
host = "localhost"
username = "root"
password = os.getenv('MY_PASSWORD')
database_name = "imdb_data"

In [3]:
def print_table_10_rows(table):
    engine = create_engine(f"mysql+pymysql://{quote(username)}:{quote(password)}@{quote(host)}/{quote(database_name)}?charset=utf8mb4")
    query = f"select * from {table} limit 10"
    
    return pd.read_sql(query, engine)

## name_basics

In [4]:
df_name_basics = print_table_10_rows("name_basics")
print(tabulate(df_name_basics, headers='keys', tablefmt='pretty'))

+---+-----------+-----------------+-----------+-----------+------------------------------------+-----------------------------------------+
|   |  nconst   |   primaryName   | birthYear | deathYear |         primaryProfession          |             knownForTitles              |
+---+-----------+-----------------+-----------+-----------+------------------------------------+-----------------------------------------+
| 0 | nm0000001 |  Fred Astaire   |  1899.0   |  1987.0   |    actor,miscellaneous,producer    | tt0072308,tt0050419,tt0053137,tt0027125 |
| 1 | nm0000002 |  Lauren Bacall  |  1924.0   |  2014.0   | actress,soundtrack,archive_footage | tt0037382,tt0075213,tt0117057,tt0038355 |
| 2 | nm0000003 | Brigitte Bardot |  1934.0   |    nan    | actress,music_department,producer  | tt0057345,tt0049189,tt0056404,tt0054452 |
| 3 | nm0000004 |  John Belushi   |  1949.0   |  1982.0   |   actor,writer,music_department    | tt0072562,tt0077975,tt0080455,tt0078723 |
| 4 | nm0000005 | Ingmar Bergman  |  1918.0   |  2007.0   |       writer,director,actor        | tt0050986,tt0083922,tt0050976,tt0069467 |
| 5 | nm0000006 | Ingrid Bergman  |  1915.0   |  1982.0   |    actress,producer,soundtrack     | tt0034583,tt0036855,tt0038109,tt0038787 |
| 6 | nm0000007 | Humphrey Bogart |  1899.0   |  1957.0   |    actor,producer,miscellaneous    | tt0034583,tt0042593,tt0043265,tt0037382 |
| 7 | nm0000008 |  Marlon Brando  |  1924.0   |  2004.0   |       actor,director,writer        | tt0078788,tt0068646,tt0047296,tt0070849 |
| 8 | nm0000009 | Richard Burton  |  1925.0   |  1984.0   |      actor,producer,director       | tt0061184,tt0087803,tt0059749,tt0057877 |
| 9 | nm0000010 |  James Cagney   |  1899.0   |  1986.0   |      actor,director,producer       | tt0029870,tt0031867,tt0042041,tt0035575 |
+---+-----------+-----------------+-----------+-----------+------------------------------------+-----------------------------------------+

## title_akas

In [5]:
df_title_akas = print_table_10_rows("title_akas")
print(tabulate(df_title_akas, headers='keys', tablefmt='pretty'))

+---+-----------+----------+---------------------------+--------+----------+-------------+---------------+-----------------+
|   |  titleId  | ordering |           title           | region | language |    types    |  attributes   | isOriginalTitle |
+---+-----------+----------+---------------------------+--------+----------+-------------+---------------+-----------------+
| 0 | tt0000001 |    1     |        Carmencita         |        |          |  original   |               |        1        |
| 1 | tt0000001 |    2     |        Carmencita         |   DE   |          |             | literal title |        0        |
| 2 | tt0000001 |    3     |        Carmencita         |   US   |          | imdbDisplay |               |        0        |
| 3 | tt0000001 |    4     | Carmencita - spanyol tánc |   HU   |          | imdbDisplay |               |        0        |
| 4 | tt0000001 |    5     |        Καρμενσίτα         |   GR   |          | imdbDisplay |               |        0        |
| 5 | tt0000001 |    6     |        Карменсита         |   RU   |          | imdbDisplay |               |        0        |
| 6 | tt0000001 |    7     |        Карменсіта         |   UA   |          | imdbDisplay |               |        0        |
| 7 | tt0000001 |    8     |      カルメンチータ       |   JP   |    ja    | imdbDisplay |               |        0        |
| 8 | tt0000002 |    1     |  Le clown et ses chiens   |        |          |  original   |               |        1        |
| 9 | tt0000002 |    2     |     A bohóc és kutyái     |   HU   |          | imdbDisplay |               |        0        |
+---+-----------+----------+---------------------------+--------+----------+-------------+---------------+-----------------+

## title_basics

In [6]:
df_title_basics = print_table_10_rows("title_basics")
print(tabulate(df_title_basics, headers='keys', tablefmt='pretty'))

+---+-----------+-----------+---------------------------------------------+---------------------------------------------+---------+-----------+---------+----------------+--------------------------+
|   |  tconst   | titleType |                primaryTitle                 |                originalTitle                | isAdult | startYear | endYear | runtimeMinutes |          genres          |
+---+-----------+-----------+---------------------------------------------+---------------------------------------------+---------+-----------+---------+----------------+--------------------------+
| 0 | tt0000001 |   short   |                 Carmencita                  |                 Carmencita                  |    0    |   1894    |         |      1.0       |    Documentary,Short     |
| 1 | tt0000002 |   short   |           Le clown et ses chiens            |           Le clown et ses chiens            |    0    |   1892    |         |      5.0       |     Animation,Short      |
| 2 | tt0000003 |   short   |               Pauvre Pierrot                |               Pauvre Pierrot                |    0    |   1892    |         |      5.0       | Animation,Comedy,Romance |
| 3 | tt0000004 |   short   |                 Un bon bock                 |                 Un bon bock                 |    0    |   1892    |         |      12.0      |     Animation,Short      |
| 4 | tt0000005 |   short   |              Blacksmith Scene               |              Blacksmith Scene               |    0    |   1893    |         |      1.0       |       Comedy,Short       |
| 5 | tt0000006 |   short   |              Chinese Opium Den              |              Chinese Opium Den              |    0    |   1894    |         |      1.0       |          Short           |
| 6 | tt0000007 |   short   | Corbett and Courtney Before the Kinetograph | Corbett and Courtney Before the Kinetograph |    0    |   1894    |         |      1.0       |       Short,Sport        |
| 7 | tt0000008 |   short   |   Edison Kinetoscopic Record of a Sneeze    |   Edison Kinetoscopic Record of a Sneeze    |    0    |   1894    |         |      1.0       |    Documentary,Short     |
| 8 | tt0000009 |   movie   |                 Miss Jerry                  |                 Miss Jerry                  |    0    |   1894    |         |      45.0      |         Romance          |
| 9 | tt0000010 |   short   |             Leaving the Factory             |     La sortie de l'usine Lumière à Lyon     |    0    |   1895    |         |      1.0       |    Documentary,Short     |
+---+-----------+-----------+---------------------------------------------+---------------------------------------------+---------+-----------+---------+----------------+--------------------------+

## title_crew

In [7]:
df_title_crew = print_table_10_rows("title_crew")
print(tabulate(df_title_crew, headers='keys', tablefmt='pretty'))

+---+-----------+---------------------+-----------+
|   |  tconst   |      directors      |  writers  |
+---+-----------+---------------------+-----------+
| 0 | tt0000001 |      nm0005690      |           |
| 1 | tt0000002 |      nm0721526      |           |
| 2 | tt0000003 |      nm0721526      |           |
| 3 | tt0000004 |      nm0721526      |           |
| 4 | tt0000005 |      nm0005690      |           |
| 5 | tt0000006 |      nm0005690      |           |
| 6 | tt0000007 | nm0005690,nm0374658 |           |
| 7 | tt0000008 |      nm0005690      |           |
| 8 | tt0000009 |      nm0085156      | nm0085156 |
| 9 | tt0000010 |      nm0525910      |           |
+---+-----------+---------------------+-----------+

## title_episode

In [8]:
df_title_episode = print_table_10_rows("title_episode")
print(tabulate(df_title_episode, headers='keys', tablefmt='pretty'))

+---+-----------+--------------+--------------+---------------+
|   |  tconst   | parentTconst | seasonNumber | episodeNumber |
+---+-----------+--------------+--------------+---------------+
| 0 | tt0041951 |  tt0041038   |     1.0      |      9.0      |
| 1 | tt0042816 |  tt0989125   |     1.0      |     17.0      |
| 2 | tt0042889 |  tt0989125   |     nan      |      nan      |
| 3 | tt0043426 |  tt0040051   |     3.0      |     42.0      |
| 4 | tt0043631 |  tt0989125   |     2.0      |     16.0      |
| 5 | tt0043693 |  tt0989125   |     2.0      |      8.0      |
| 6 | tt0043710 |  tt0989125   |     3.0      |      3.0      |
| 7 | tt0044093 |  tt0959862   |     1.0      |      6.0      |
| 8 | tt0044668 |  tt0044243   |     2.0      |     16.0      |
| 9 | tt0044901 |  tt0989125   |     3.0      |     46.0      |
+---+-----------+--------------+--------------+---------------+

## title_pricipals

In [9]:
df_title_pricipals = print_table_10_rows("title_principals")
print(tabulate(df_title_pricipals, headers='keys', tablefmt='pretty'))

+---+-----------+----------+-----------+-----------------+-------------------------+------------+
|   |  tconst   | ordering |  nconst   |    category     |           job           | characters |
+---+-----------+----------+-----------+-----------------+-------------------------+------------+
| 0 | tt0000001 |    1     | nm1588970 |      self       |                         |  ["Self"]  |
| 1 | tt0000001 |    2     | nm0005690 |    director     |                         |            |
| 2 | tt0000001 |    3     | nm0005690 |    producer     |        producer         |            |
| 3 | tt0000001 |    4     | nm0374658 | cinematographer | director of photography |            |
| 4 | tt0000002 |    1     | nm0721526 |    director     |                         |            |
| 5 | tt0000002 |    2     | nm1335271 |    composer     |                         |            |
| 6 | tt0000003 |    1     | nm0721526 |    director     |                         |            |
| 7 | tt0000003 |    2     | nm1770680 |    producer     |        producer         |            |
| 8 | tt0000003 |    3     | nm0721526 |    producer     |        producer         |            |
| 9 | tt0000003 |    4     | nm1335271 |    composer     |                         |            |
+---+-----------+----------+-----------+-----------------+-------------------------+------------+

## title_ratings

In [10]:
df_title_ratings = print_table_10_rows("title_ratings")
print(tabulate(df_title_ratings, headers='keys', tablefmt='pretty'))

+---+-----------+---------------+----------+
|   |  tconst   | averageRating | numVotes |
+---+-----------+---------------+----------+
| 0 | tt0000001 |      5.7      |   2058   |
| 1 | tt0000002 |      5.6      |   277    |
| 2 | tt0000003 |      6.5      |   2017   |
| 3 | tt0000004 |      5.4      |   180    |
| 4 | tt0000005 |      6.2      |   2785   |
| 5 | tt0000006 |      5.1      |   187    |
| 6 | tt0000007 |      5.4      |   863    |
| 7 | tt0000008 |      5.4      |   2201   |
| 8 | tt0000009 |      5.4      |   212    |
| 9 | tt0000010 |      6.8      |   7581   |
+---+-----------+---------------+----------+